<% var title = "Formulaire d'inscription" %>
<% include head %>

<h2>Inscrivez-vous</h2>

<%if(locals.error) { %>
<div class="error">
  <%= locals.error; %>
</div>
<% } %>

<form class="inscription" action="/editProfile" method="post" name="inscription">
    <span class="required_notification">Les champs obligatoires sont indiqués par *</span>
    <ul>
        <li>
            <label for="email">E-mail :</label>
            <input type="email" name="email" id="email" autofocus required <%if(locals.email)%> value="<%=locals.email%>"/>
            <span class="form_hint">Format attendu "name@something.com"</span>
        </li>
        <li>
            <label for="nom">Nom :</label>
            <input type="text" name="nom" id="nom" placeholder="ex : Dupont" <%if(locals.email)%> value="<%=locals.nom%>"/>
        </li>
        <li>
            <label for="prenom">Prénom :</label>
            <input type="text" name="prenom" id="prenom" placeholder="ex : David" required  <%if(locals.email)%> value="<%=locals.prenom%>"/>
        </li>
        <li>
            <label for="tel">tel :</label>
            <input type="tel" name="tel" id="tel" placeholder="ex : 0101010101" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" <%if(locals.email)%> value="<%=locals.tel%>"/>
        </li>
        <li>
            <label for="website">Site Web :</label>
            <input type="url" name="website" id="website" placeholder="ex : www.exemple.com" <%if(locals.email)%> value="<%=locals.website%>"/>
        </li>
        <li>
            <label for="website">Sexe :</label>
            <input type="radio" name="sexe" value="H" <%if(locals.sexe=="H"){%> checked <%}%> > Homme<br>
            <input type="radio" name="sexe" value="F" <%if(locals.sexe=="F"){%> checked <%}%> > Femme<br>
        </li>
        <li>
            <label for="birthdate">Date de naissance:</label>
            <input type="date" name="birthdate" id="birthdate" placeholder="JJ/MM/AAAA" value="<%=locals.birthdate%>" required onchange="computeAge()" <%if(locals.birthdate)%> value="<%=locals.birthdate%>"/>
            <script>
              computeAge = function(e) {
              try{
                  var currentTime = new Date();
                  var year = currentTime.getFullYear();
                  console.log(year);
                  console.log(Date.now());
                  console.log(document.getElementById("birthdate"));
                  console.log(document.getElementById("birthdate").valueAsDate);
                  var date1=Date.parse(document.getElementById("birthdate").valueAsDate);
                  var date2=new Date(date1).getFullYear();
                  var age=(year-date2);
                  console.log(age);
                  document.getElementById("age").value=age;
                  } catch(e) {
                    document.getElementById(age).value="";
                  }
              }
            </script>
            <span class="form_hint">Format attendu "JJ/MM/AAAA"</span>
        </li>
        <li>
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" disabled <%if(locals.age)%> />
        </li>
        <li>
            <label for="ville">Ville:</label>
            <input type="text" name="ville" id="ville" <%if(locals.ville)%> value="<%=locals.ville%>"/>
        </li>
        <li>
            <label for="taille">Taille:</label>
            <input type="range"  max="2.50" min="0" step="0.01" name="taille" id="taille" oninput="tailleValue.value=parseFloat(taille.value)" <%if(locals.taille)%> value="<%=locals.taille%>"/>
            <output name="tailleValue"></output> m
        </li>
        <li>
            <label for="couleur">Couleur préféré:</label>
            <input type="color" name="couleur" id="couleur" <%if(locals.couleur)%> value="#<%=locals.couleur%>"/>
        </li>
        <li>
            <label for="profilepicfile">Photo de profil:</label>
              <input type="file" id="profilepicfile" onchange="loadProfilePic(this)" value="<%=locals.profilepic%>"/>
              <span class="form_hint">Choisissez une image.</span>
              <input type="hidden" name="profilepic" id="profilepic"/>
              <canvas id="preview" width="0" height="0"></canvas>
              <script>
                  loadProfilePic = function (e) {
                      var canvas = document.getElementById("preview");
                      var ctx = canvas.getContext("2d");
                      ctx.fillRect(0,0,canvas.width,canvas.height);
                      canvas.width=0;
                      canvas.height=0;
                      var file = document.getElementById("profilepicfile").files[0];
                      var img = document.createElement("img");
                      var reader = new FileReader();
                      reader.onload = function(e) {
                          if (!file.type.match(/image.*/)) {
                              document.getElementById("profilepicfile").setCustomValidity("Il faut télécharger une image.");
                              document.getElementById("profilepicfile").value = "";
                          }
                          else {
                              img.src = e.target.result;
                              document.getElementById("profilepicfile").setCustomValidity("");
                              var MAX_WIDTH = 96;
                              var MAX_HEIGHT = 96;
                              var width = img.width;
                              var height = img.height;
                              var ratio = width/height;
                              if(width>height){
                              var width = MAX_WIDTH;
                              var height = MAX_WIDTH/ratio;
                              }else {
                              var width = MAX_HEIGHT*ratio;
                              var height = MAX_HEIGHT;
                              }

                              canvas.width = width;
                              canvas.height = height;
                              ctx.drawImage(img, 0, 0, width, height);
                              var dataurl = canvas.toDataURL("image/png");
                              document.getElementById("profilepic").value = dataurl;
                          };
                      }
                      reader.readAsDataURL(file);
                }
            </script>
        </li>
        <li>
            <input type="submit" class="btn btn-primary" value="Sauvegarder">
        </li>
    </ul>
</form>

<% include foot %>
