<% var title = 'Profile' %>
<% include head %>

<%if(locals.error) { %>
<div class="error">
  <%= locals.error; %>
</div>
<% } %>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><%=locals.prenom%> <%=locals.nom%> </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <%if(!locals.profilepic) {%>
                <img alt="User Pic"  src="http://cancerspreventions.fr/wp-content/themes/cancer-et-prevention/skeleton/images/silhouette.jpg" class="img-circle img-responsive">
              <% } %>
              <%if(locals.profilepic) {%>
                <img alt="User Pic"  src="<%=locals.profilepic%>" class="img-circle img-responsive">
              <% } %>
            </div>
            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>Email:</td>
                            <td><%=locals.email%></td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td><%=locals.birthdate%></td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <%if(locals.sexe == 'H') {%>
                                <td>Homme</td>
                            <% } %>
                            <%if(locals.sexe == "F") {%>
                                <td>Femme</td>
                            <% } %>
                        </tr>
                        <%if(locals.tel) {%>
                        </tr>
                            <td>Phone Number</td>
                            <td><%=locals.tel %></td>
                        </tr>
                        <% } %>
                        <%if(locals.website) {%>
                        </tr>
                            <td>Site web</td>
                            <td><%=locals.website %></td>
                        </tr>
                        <% } %>
                        <%if(locals.ville) {%>
                        </tr>
                            <td>Ville</td>
                            <td><%=locals.ville %></td>
                        </tr>
                        <% } %>
                        <%if(locals.taille) {%>
                        </tr>
                            <td>Taille</td>
                            <td><%=locals.taille %> m</td>
                        </tr>
                        <% } %>
                        <%if(locals.couleur) {%>
                        </tr>
                            <td>Couleur</td>
                            <td><div style="width:8em;;height: 1.5em;border-radius: 5px;background-color:#<%=locals.couleur %>"></div></td>
                        </tr>
                        <% } %>

                    </tbody>
                </table>
                <div class="pull-right">
                    <a href="/play" class="btn btn-primary">Jouer</a>
                    <a href="/paint" class="btn btn-success">Peindre</a>
                    <a href="/editProfile" class="btn btn-primary">Modifier profile</a>
                    <a href="/logout" class="btn btn-danger">Disconnect</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Mes dessins</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 ">
              <%if(locals.pictures.length>0) {%>
                <ul class="list-group">
                <%var i=1;
                 locals.pictures.forEach(function(picture) { %>
                    <li class="list-group-item col-lg-6"><a href="guess?idPicture=<%= picture.d_id %>"><img alt="dessin_<%= picture.d_id %>"  src="<%=picture.d_image%>" class="img-responsive"></a></li>
                <% i++;
                }); %>
                </ul>
              <% } else { 
                var u="Vous n'avez aucun dessin"; %>
                <%=u%>
              <% } %>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Mes trouvailles</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 ">
                <%if(locals.findedPictures.length>0) {%>
                <ul class="list-group">
                    <%var i=1;
                    locals.findedPictures.forEach(function(picture) { %>
                    <li class="list-group-item col-lg-6"><a href="guess?idPicture=<%= picture.d_id %>"><img alt="dessin_<%= picture.d_id %>"  src="<%=picture.d_image%>" class="img-responsive"></a></li>
                    <% i++;
                    }); %>
                </ul>
                <% } else {
                    var u="Vous n'avez trouvé aucun dessin"; %>
                <%=u%>
                <% } %>
            </div>
        </div>
    </div>
</div>


<% include foot %>
